.click-tile {
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    margin: 2%;
    border: 1px solid black;
}

.click-tile:hover {
    border: 1px solid red;
}